*.DS_Store
*.egg-info
*~
*.pyc
*.pyo
ve
*.sqlite.db
log
*.log
.*.log
.*.log.*
build
dist
docs/_build
docs/javascript
docs/python
media
egg-cache
node_modules
storage
.idea
.project
.pydevproject
.tox
