.DS_Store
*.egg-info
.#*
\#*
*~
*.py[cod]
ve
*.sqlite.db
log
*.log
.*.log
.*.log.*
build
dist
docs/_build
docs/javascript
docs/python
media
egg-cache
node_modules
storage
.coverage
.idea
.noseids
.project
.pydevproject
.ropeproject
.settings
.tox
